@model IEnumerable<BugTracker.Models.WorkItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (Model.Count() > 0)
{
    <p>
        @Html.ActionLink("Create New", "AddWorkItem/AddItem")
    </p>

}
<table class="table">
    <thead>
        
        
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="6">There are no Work Items in BugTracker. @Html.ActionLink("Add your first Work Item", "AddWorkItem") now.</td>
                </tr>
            }
            else
            {

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Severity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WorkItemType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AssignedTo)
                    </th>
                    <th></th>
                </tr>
            }
        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Severity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkItemType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedTo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </tbody>
</table>
